@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-4xl font-semibold text-center;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  p {
    @apply text-gray-400 text-lg;
  }
}

@media screen(lg) {
  .herobg {
    width: 2000px;
    height: 300px;
    left: 60%;
    @apply absolute top-80 bg-royalBlue rounded-full;
  }

  .bg-tab {
    width: 2000px;
    height: 300px;
    right: 50%;
    @apply absolute top-60 bg-royalBlue rounded-full;
  }
}

.arrow {
  transition: all 0.5s;
}

.arrow-opened {
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(59%) sepia(85%) saturate(5336%)
    hue-rotate(343deg) brightness(103%) contrast(101%);
}

.ficon:hover {
  filter: brightness(0) saturate(100%) invert(59%) sepia(85%) saturate(5336%)
    hue-rotate(343deg) brightness(103%) contrast(101%);
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 6px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: gray;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  border: 1px solid white;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  border: 1px solid white;
}
